/*-----------------------------------*\
  #MAIN LAYOUT
\*-----------------------------------*/
main {
  margin: 15px 12px;
  margin-bottom: 75px;
  min-width: 259px;
}

/*-----------------------------------*\
  #SIDEBAR CONTAINER
\*-----------------------------------*/
.sidebar {
  background: var(--eerie-black-2);
  border: 1px solid var(--jet);
  border-radius: 20px;
  padding: 15px;
  box-shadow: var(--shadow-1);
  z-index: 1;
  margin-bottom: 30px;
  max-height: 180px;
  overflow: hidden;
  transition: var(--transition-2);
}

.sidebar.active { max-height: 405px; }

/*-----------------------------------*\
  #NAVBAR CONTAINER
\*-----------------------------------*/
.navbar {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background: hsla(0, 0%, 8%, 0.705);
  backdrop-filter: blur(10px);
  border: 1px solid var(--jet);
  border-radius: 12px 12px 0 0;
  box-shadow: var(--shadow-2);
  z-index: 5;
}

.navbar-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 0 10px;
}

/*-----------------------------------*\
  #ARTICLE / PAGE VISIBILITY
\*-----------------------------------*/
article {
  background: var(--eerie-black-2);
  border: 1px solid var(--jet);
  border-radius: 20px;
  padding: 15px;
  box-shadow: var(--shadow-1);
  z-index: 1;
  display: none;
}

article.active {
  display: block;
  animation: fade 0.5s ease backwards;
}

.page-content { display: none; }
.page-content.active { display: block; }